vrrp_script chk_haproxy_{{ vip_name }}_{{ vip_ip|replace(".", "_") }} {
        script "pgrep -x haproxy > /dev/null" # verify if pid exists
        interval 1
        timeout {{ timeout }}
        rise {{ rise }}
        fall {{ fall }}
}

vrrp_script chk_ctrldatanet_{{ vip_name }}_{{ vip_ip|replace(".", "_") }} {
    script "/usr/local/bin/chk_ip_connectivity.sh"
    interval 1
    timeout {{ ctrl_data_timeout }}
    rise {{ ctrl_data_rise }}
    fall {{ ctrl_data_fall }}
}

vrrp_instance {{ vip_name }}_{{ vip_ip|replace(".", "_") }} {
        interface {{ device }}
        state {{ state }}
        preempt_delay {{ preempt_delay }}
        garp_master_delay {{ delay }}
        garp_master_repeat {{ garp_master_repeat }}
        garp_master_refresh {{ garp_master_refresh }}
        advert_int 1
        virtual_router_id {{ virtual_router_id }}
        vmac_xmit_base
        priority {{ priority }}
        virtual_ipaddress {
                {{ vip }} dev  {{ device }}
        }
        track_script  {
                chk_haproxy_{{ vip_name }}_{{ vip_ip|replace(".", "_") }}
        }

        track_script  {
            chk_ctrldatanet_{{ vip_name }}_{{ vip_ip|replace(".", "_") }}
        }
        track_interface {
            {{ device }}
        }
}
