# Default values for contrail.
# contrailVersion - example 4.0.0.0-3042
# This variable cannot be blank.
contrailVersion: 4.0.0.0-6

# osRelease - operating system release
# ubuntu 14.04 - ubuntu14.04
# ubuntu 16.04 - ubuntu16.04
# centos 7.1 - centos7
# centos 7.2 - centos7
osRelease: ubuntu16.04

# image repository, pull policy etc
imageRepo: 10.84.18.5:5000

# Global configurations
#
global:
  # hosts_entries - (OPTIONAL) a dict in form of {name1: 1.1.1.1, name2: 1.1.1.2}
  # In multi-controller systems, all hosts in the cluster should be reachable
  # using its own hostname which is requirement for rabbitmq, so for that /etc/hosts
  # entries are required, unless there is an external dns infrastructure to support it
  # hosts_entries: '{"node1": "192.168.0.11", "node2": "192.168.0.12", "node3": "192.168.0.13"}'

  # controller_nodes 
  controller_nodes: 
    - 10.87.65.152
  
  # If analyticsdb nodes are different from controller_nodes
  # Example:
  # analyticsdb_nodes: 
  #  - 10.87.65.30

  # If analytics nodes are different from controller_nodes
  # Example:
  # analytics_nodes: 
  #  - 10.87.65.30
  
  # cloud_orchestrator: values - kubernetes, mesos, openshift, openstack
  cloud_orchestrator: kubernetes

#
# webui configurations
#
webui:
  # http listen port: default 8080
  http_listen_port: 8085

  # https_listen_port: default 8143
  # https_listen_port:

#
# agent configurations
#
agent:
  # vrouter_physical_interface - physical interface to use for vrouter
  vrouter_physical_interface: em1

#
# Other optional parameters which rarely changed
#

## Specify a imagePullPolicy: 'Always' if imageTag is 'latest', else set to 'IfNotPresent'.
## ref: https://kubernetes.io/docs/user-guide/images/#pre-pulling-images
##
# imagePullPolicy:

# container image names
# controllerImageName: contrail-controller
# analyticsImageName: contrail-analytics
# analyticsdbImageName: contrail-analyticsdb
# kubeManagerImageName: contrail-kube-manager
# agentImageName: contrail-agent

#
# kubernetes configurations
#
kubernetes:
  # Name of the kubernetes cluster being provisioned
  # Default value: "k8s-default"
  # Example:
  # cluster_name: k8s-default
  
  # Access token to connect to kubernetes API server
  # Default value: ""
  kubernetes_access_token: 

  # Pod subnet 
  # Default value: "10.32.0.0/12"
  # Example:
  # kubernetes_pod_subnets: "10.87.45.0/24"

  # Service subnet
  # Default value: "10.96.0.0/12"
  # Example:
  # kubernetes_service_subnets: "10.87.46.0/24"
  
  # Cluster project used in contrail
  # Default value: {'domain': 'default-domain', 'project': 'default'}
  # Example:
  # kubernetes_cluster_project: "{'domain': 'default-domain', 'project': 'default'}"

  # Kubernetes FloatingIpPool to be used for service/ingress.
  # Example:
  # kubernetes_public_fip_pool: {'domain': 'domain-name', 'project': 'project-name', 'network': 'network-name', 'name': 'fip-pool-name' }
