{% extends parent_template %}

# Use contrail mirrors - add contrail repo keys
{% block base_header %}
COPY contrail-ubuntu-mirror.key /etc/apt/contrail-ubuntu-mirror.key
RUN apt-key add /etc/apt/contrail-ubuntu-mirror.key && rm -f /etc/apt/contrail-ubuntu-mirror.key
COPY sources.list.{{ base_distro }}.nohttps /etc/apt/sources.list
RUN apt-get update
{% endblock %}

# Contrail Neutron plugin packages
{% set neutron_server_packages_append = ['neutron-plugin-contrail', 'python-contrail'] %}

# Horizon packages
{% set horizon_packages_append = ['contrail-openstack-dashboard', 'python-django-horizon'] %}

# Contrail Heat plugin packages
{% set heat_engine_packages_append = ['contrail-heat', 'python-contrail'] %}

# Allow Unauthenticated contrail packages
{% block openstack_base_header %}
RUN echo 'APT::Get::AllowUnauthenticated "true";' > /etc/apt/apt.conf.d/99contrail
{% endblock %}

{% block keepalived_header %}
RUN echo 'APT::Get::AllowUnauthenticated "true";' > /etc/apt/apt.conf.d/99contrail
{% endblock %}

{% block horizon_header %}
RUN echo 'APT::Get::AllowUnauthenticated "true";' > /etc/apt/apt.conf.d/99contrail
{% endblock %}

{% block nova_libvirt_header %}
RUN echo 'APT::Get::AllowUnauthenticated "true";' > /etc/apt/apt.conf.d/99contrail
{% endblock %}

# Copy vrouter-port-control in Nova compute container
{% block nova_compute_header %}
COPY vrouter-port-control /usr/local/bin/vrouter-port-control
RUN chmod +x /usr/local/bin/vrouter-port-control
{% endblock %}

# Horizon patches
{% block horizon_footer %}
RUN cp -af /usr/lib/python2.7/dist-packages/neutron_lbaas_dashboard/enabled/_1481_project_ng_loadbalancersv2_panel.py /usr/share/openstack-dashboard/openstack_dashboard/enabled/ && \
    echo yes | /usr/share/openstack-dashboard/manage.py collectstatic  && \
    /usr/share/openstack-dashboard/manage.py compress
{% endblock %}

#fix ironic_conductor issue for askpas and notty error
{% block ironic_conductor_footer %}
COPY iscsi_tcp_sudoers /etc/sudoers.d/kolla_iscsi_tcp_sudoers
RUN chmod 440 /etc/sudoers.d/kolla_iscsi_tcp_sudoers
{% endblock %}
